{erl_opts, [warnings_as_errors]}.

{deps, [
    {njson, {git, "git@github.com:nomasystems/njson.git", {branch, "main"}}},
    {elli, "3.3.0"}
]}.

{xref_ignores, [terl_webs]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}}
]}.
{erlfmt, [write]}.

{profiles, [
    {bin_opt_info, [
        {erl_opts, [bin_opt_info]}
    ]}
]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]}
]}.
